<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="../../static/styles/style.css">
</head>
<body>
    <header>
        <h1>User Information</h1>
    </header>
    <main>
        <section id="user-info">
            <h2>Profile</h2>
            <p><strong>Name:</strong> {{ usuario.nombre }}</p>
            <p><strong>Email:</strong> {{ usuario.correo}}</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 PonyMusic</p>
    </footer>
</body>
</html>